<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>

        <mapping class="com.lok.model.PartyRecord"/>
        <mapping class="com.lok.model.BillRecord"/>
        <mapping class="com.lok.model.ReceiptRecord"/>
        <mapping class="com.lok.model.Lok_master_seq"/>
        <mapping class="com.lok.model.CustomerDetails"/>
        <mapping class="com.lok.model.EmailOutbound"/>
        <mapping class="com.lok.model.EmailTemplate"/>
</session-factory>



</hibernate-configuration>